<div class="bg-theme p-5">
  <div class="container">
    <h1 class="text-white">GENERAL KNOWLEDGE</h1>
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, dolores
      magnam. Deleniti veniam omnis aperiam eos ipsa est adipisci consequuntur
      consectetur, iusto officia ullam blanditiis hic qui voluptas delectus
      molestias.
    </p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
