<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">ABOUT US</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo
        quasi, sapiente quaerat, magnam quam at porro accusamus rerum impedit,
        inventore voluptas rem fugiat eos dolores quas. Totam, quasi facere?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo
        quasi, sapiente quaerat, magnam quam at porro accusamus rerum impedit,
        inventore voluptas rem fugiat eos dolores quas. Totam, quasi facere?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim
        temporibus dignissimos officiis quia nulla similique vel tenetur
        asperiores, neque ad. Quis vero obcaecati explicabo, voluptate ipsa sed
        dolores nisi accusantium? Velit reprehenderit dolore eligendi quis
        ducimus debitis sint atque, porro cupiditate, iusto et eum animi laborum
        tempore aliquam, in nemo nam. Deleniti in pariatur illo aliquid est
        atque repellat soluta. Architecto officiis delectus voluptas dolorum
        reiciendis totam, rerum inventore, laborum animi quod non dolorem quis,
        odit ad mollitia hic? Dolore amet mollitia autem nam libero voluptatum
        necessitatibus, pariatur accusamus dignissimos. Beatae ut error, at
        quisquam, autem labore voluptatum culpa quia blanditiis sunt sed
        debitis. Vel corrupti saepe odit tempore voluptate tempora! Vel mollitia
        adipisci ratione quas cumque aliquid laborum facere? Adipisci tempore
        tempora excepturi odit, maiores consectetur. Perferendis error dicta
        reprehenderit excepturi. Quasi quo molestiae mollitia quos dolorum odit
        laborum minima architecto. Aperiam, fugit? Velit eos vitae cupiditate
        earum magni?
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
